/* global styles */
@import 'fonts/roboto';
@import 'typography';
@import 'links';

:global(body) {
  position: relative;

  h1 {
    margin-top: 80px;
  }

  h2 {
    margin-bottom: 20px;
  }

  img {
    width: 100%;
  }
  .Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .Main-Site {
    flex: 1;
  }

}
