:local(.styles) {
  position: fixed;
  z-index: 1;

  width: 100%;

  padding: 20px 0;
  opacity: 1;

  background: rgba(0, 0, 0, .7);

  &:hover {
    background: rgba(0, 0, 0, .7);
  }

  a {
    color: #FFF;
  }

  .logo {

    a {
      font-weight: bold;
    }
  }
  
  nav {

    a {
      margin-right: 20px;
      
      &.active {
        font-weight: bold;
      }
    }
  }
}
